swagger: "2.0"
info:
  description: "CCE开放API"
  version: "v3"
  title: "CCE"
  contact: {}
host: "cce.regionName.myhuaweicloud.com"
basePath: "/"
tags:
  - name: "Cluster Management"
    description: "Cluster Management"
    x-order: 100
    x-publishpath: "cluster_lifecycle_management"
  - name: "Node Management"
    description: "Node Management"
    x-order: 101
    x-publishpath: "node_lifecycle_management"
  - name: "Node Pool Management"
    description: "Node Pool Management"
    x-order: 102
    x-publishpath: "nodepool_lifecycle_management"
  - name: "Storage Management"
    description: "Storage Management"
    x-order: 103
    x-publishpath: "storage_lifecycle_management"
  - name: "Add-on Management"
    description: "Add-on Management"
    x-order: 104
    x-publishpath: "addon_lifecycle_management"
  - name: "Cluster upgrade"
    description: "Cluster upgrade"
    x-order: 105
    x-publishpath: "upgrade_management"
  - name: "Quota Management"
    description: "Quota Management"
    x-order: 106
    x-publishpath: "quota_lifecycle_management"
  - name: "Querying API Versions"
    description: "Querying API Versions"
    x-order: 107
    x-publishpath: "apiversion_lifecycle_management"
  - name: "Configuration Management"
    description: "Configuration Management"
    x-order: 108
    x-publishpath: "configuration_lifecycle_management"
  - name: Chart Management
    description: Chart Management
    x-order: 110
    x-publishpath: chart_lifecycle_management
  - name: Permissions Management
    description: Permission lifecycle management of namespaces in a cluster
    x-order: 117
    x-publishpath: permission_lifecycle_management
  - name: "Cluster Management (Autopilot)"
    description: "Cluster Management (Autopilot)"
    x-order: 111
    x-publishpath: "autopilot_cluster_lifecycle_management"
  - name: "Add-on Management (Autopilot)"
    description: "Add-on Management (Autopilot)"
    x-order: 112
    x-publishpath: "autopilot_addon_lifecycle_management"
  - name: "Cluster Upgrade (Autopilot)"
    description: "Cluster Upgrade (Autopilot)"
    x-order: 113
    x-publishpath: "autopilot_upgrade_management"
    x-open-region-cloud: "hws,hws_hk"
  - name: "Quota Management (Autopilot)"
    description: "Quota Management (Autopilot)"
    x-order: 114
    x-publishpath: "autopilot_quota_lifecycle_management"
  - name: "Tag Management (Autopilot)"
    description: "Tag Management (Autopilot)"
    x-order: 115
    x-publishpath: "autopilot_tags_lifecycle_management"
  - name: "Chart Management (Autopilot)"
    description: "Chart Management (Autopilot)"
    x-order: 116
    x-publishpath: "autopilot_chart_lifecycle_management"
schemes:
  - "https"
consumes:
  - "application/json"
produces:
  - "application/json"
paths:
  /api/v3/addons:
    get:
      tags:
        - "Add-on Management"
      summary: "Listing Add-on Instances"
      description: |-
        This API is used to list all add-on instances in the cluster.
      operationId: "ListAddonInstances"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
        - name: "addon_template_name"
          in: "query"
          description: |-
            Meaning: Name or alias of the add-on to be filtered

            Attribute: Hidden parameter
          x-internal: true
          required: false
          type: "string"
          maxLength: 30
          minLength: 2
          pattern: "^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])+$"
          x-order: 3
        - name: "cluster_id"
          in: "query"
          description: "Cluster ID. For details about how to obtain a cluster ID, see [How to Obtain Parameters in the API URI](cce_02_0271.xml)."
          required: true
          type: "string"
          pattern: "^[0-9a-z]{8}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{12}$"
          x-order: 2
      responses:
        "200":
          description: "ok"
          examples:
            application/json:
              kind: "Addon"
              apiVersion: "v3"
              items:
                - kind: "Addon"
                  apiVersion: "v3"
                  metadata:
                    uid: "8ca259cc-553b-11e9-926f-0255ac101a31"
                    name: "storage-driver"
                    alias: storage-driver
                    creationTimestamp: "2019-04-02T11:36:26Z"
                    updateTimestamp: "2019-04-02T11:36:26Z"
                  spec:
                    clusterID: "0c0e4a63-5539-11e9-95f7-0255ac10177e"
                    version: "1.0.10"
                    addonTemplateName: "storage-driver"
                    addonTemplateType: "helm"
                    addonTemplateLogo: >-
                      https://192.149.48.66/cce-addon-southchina-aw1hz2u/storage-driverlogo.svg
                    addonTemplateLabels:
                      - "Storage"
                    description: >-
                      A kubernetes FlexVolume Driver used to support cloud storage
                    values:
                      basic:
                        addon_version: "1.0.10"
                        euleros_version: "2.2.5"
                        obs_url: ""
                        platform: "linux-amd64"
                        swr_addr: "100.125.6.246:20202"
                        swr_user: "hwofficial"
                      flavor:
                        replicas: 1
                      parameters: {}
                  status:
                    status: "running"
                    Reason: "Install complete"
                    message: ""
                    targetVersions: null
                    currentVersion:
                      version: "1.0.10"
                      input:
                        basic:
                          euleros_version: "2.2.5"
                          obs_url: ""
                          swr_addr: "100.125.6.246:20202"
                          swr_user: "hwofficial"
                        parameters: {}
                      stable: true
                      translate:
                        en_US:
                          addon:
                            changeLog: >-
                              The plug-in is upgraded to enhance the storage plug-in function.
                            description: >-
                              A kubernetes FlexVolume Driver used to support cloud storage
                        zh_CN:
                          addon:
                            changeLog: ""
                            description: ""
                      supportVersions: null
                      creationTimestamp: "2019-03-29T13:45:37Z"
                      updateTimestamp: "2019-03-29T13:45:37Z"
          schema:
            $ref: "#/definitions/AddonInstances"
      deprecated: false
      x-name: "Listing Add-on Instances"
      x-constraint: ""
      x-scope: "Commercial"
      x-order: 6
      x-publishpath: "cce_02_0326"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
    post:
      tags:
        - "Add-on Management"
      summary: "Installing an Add-on Instance"
      description: |-
        This API is used to install an add-on instance by using an add-on template.
      operationId: "CreateAddonInstance"
      consumes:
        - "application/json"
      produces: []
      parameters:
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
        - in: "body"
          name: "CreateAddonInstanceRequestBody"
          description: "Request body"
          required: true
          schema:
            $ref: "#/definitions/InstanceRequest"
          x-order: 3
      responses:
        "201":
          description: "OK"
          examples:
            application/json:
              kind: "Addon"
              apiVersion: "v3"
              metadata:
                uid: "b748aaea-a984-11ec-987b-0255ac1000bc"
                name: "coredns"
                alias: "coredns"
                creationTimestamp: "2022-03-22T02:06:41Z"
                updateTimestamp: "2022-03-22T02:06:41Z"
              spec:
                clusterID: "1b2ec02d-a3b2-11ec-b0d0-0255ac100099"
                version: "1.17.15"
                addonTemplateName: "coredns"
                addonTemplateType: "helm"
                addonTemplateLogo: ""
                addonTemplateLabels:
                  - "ServiceDiscovery"
                description: >-
                  CoreDNS is a DNS server that chains plugins and provides Kubernetes DNS Services
                values:
                  basic:
                    cluster_ip: "10.247.3.10"
                    image_version: "1.17.15"
                    platform: "linux-amd64"
                    rbac_enabled: true
                    swr_addr: ""
                    swr_user: "hwofficial"
                  custom:
                    cluster_id: "1b2ec02d-a3b2-11ec-b0d0-0255ac100099"
                    stub_domains: {}
                    tenant_id: "0504201b6c80256b2f08c0099f0c8fe4"
                    upstream_nameservers: []
                  flavor:
                    name: 2500
                    replicas: 2
                    resources:
                      - limitsCpu: "500m"
                        limitsMem: "512Mi"
                        name: "coredns"
                        requestsCpu: "500m"
                        requestsMem: "512Mi"
              status:
                status: "installing"
                Reason: ""
                message: ""
                targetVersions: null
                currentVersion:
                  version: "1.17.15"
                  input:
                    basic:
                      cluster_ip: "10.247.3.10"
                      image_version: "1.17.15"
                      platform: "linux-amd64"
                      swr_addr: ""
                      swr_user: "hwofficial"
                    parameters:
                      custom:
                        stub_domains: ""
                        upstream_nameservers: ""
                      flavor1:
                        name: 2500
                        replicas: 2
                        resources:
                          - limitsCpu: "500m"
                            limitsMem: "512Mi"
                            name: "coredns"
                            requestsCpu: "500m"
                            requestsMem: "512Mi"
                      flavor2:
                        name: 5000
                        replicas: 2
                        resources:
                          - limitsCpu: "1000m"
                            limitsMem: "1024Mi"
                            name: "coredns"
                            requestsCpu: "1000m"
                            requestsMem: "1024Mi"
                      flavor3:
                        name: 10000
                        replicas: 2
                        resources:
                          - limitsCpu: "2000m"
                            limitsMem: "2048Mi"
                            name: "coredns"
                            requestsCpu: "2000m"
                            requestsMem: "2048Mi"
                      flavor4:
                        name: 20000
                        replicas: 4
                        resources:
                          - limitsCpu: "2000m"
                            limitsMem: "2048Mi"
                            name: "coredns"
                            requestsCpu: "2000m"
                            requestsMem: "2048Mi"
                  stable: true
                  translate:
                    en_US:
                      addon:
                        changeLog: "Supported CCE clusters of v1.21."
                        description: >-
                          CoreDNS is a DNS server that chains plugins and provides Kubernetes DNS Services
                      description:
                        Parameters.custom.stub_domains: >-
                          The target nameserver may itself be a Kubernetes service. For instance, you can run your own copy of dnsmasq to export custom DNS names into the ClusterDNS namespace, a JSON map using a DNS suffix key (e.g. "acme.local") and a value consisting of a JSON array of DNS IPs.
                        Parameters.custom.upstream_nameservers: >-
                          If specified, then the values specified replace the nameservers taken by default from the node's /etc/resolv.conf. Limits:a maximum of three upstream nameservers can be specified, A JSON array of DNS IPs.
                        Parameters.flavor1.description: >-
                          Concurrent domain name resolution ability - External domain name: 2500 qps, Internal domain name: 10000 qps
                        Parameters.flavor1.name: 2500
                        Parameters.flavor2.description: >-
                          Concurrent domain name resolution ability - External domain name: 5000 qps, Internal domain name: 20000 qps
                        Parameters.flavor2.name: 5000
                        Parameters.flavor3.description: >-
                          Concurrent domain name resolution ability - External domain name: 10000 qps, Internal domain name: 40000 qps
                        Parameters.flavor3.name: 10000
                        Parameters.flavor4.description: >-
                          Concurrent domain name resolution ability - External domain name: 20000 qps, Internal domain name: 80000 qps
                        Parameters.flavor4.name: 20000
                      key:
                        Parameters.custom.stub_domains: "stub domain"
                        Parameters.custom.upstream_nameservers: "upstream nameservers"
                    fr_FR:
                      addon:
                        changeLog: "Prise en charge du cluster 1.21."
                        description: >-
                          Un serveur DNS qui enchaîne les plug-ins et fournit des services DNS Kubernetes.
                      description:
                        Parameters.custom.stub_domains: >-
                          Le serveur de noms cible peut lui-même être un service Kubernetes. Par exemple, vous pouvez exécuter votre propre copie de dnsmasq pour exporter des noms DNS personnalisés dans l'espace de noms ClusterDNS, une carte JSON à l'aide d'une clé de suffixe DNS (par exemple, «acme.local») et une valeur constituée d'un tableau JSON d'adresses IP DNS.
                        Parameters.custom.upstream_nameservers: >-
                          Si spécifié, les valeurs spécifiées remplacent les serveurs de noms pris par défaut dans le fichier /etc/resolv.conf du nœud. Limites: un maximum de trois serveurs de noms en amont peuvent être spécifiés, un tableau JSON d'adresses IP DNS.
                        Parameters.flavor1.description: >-
                          Capacité de résolution de nom de domaine simultanée - Nom de domaine externe: 2500 qps, Nom de domaine interne: 10000 qp
                        Parameters.flavor1.name: 2500
                        Parameters.flavor2.description: >-
                          Capacité de résolution de nom de domaine simultanée - Nom de domaine externe: 5000 qps, Nom de domaine interne: 20000 qp
                        Parameters.flavor2.name: 5000
                        Parameters.flavor3.description: >-
                          Capacité de résolution de nom de domaine simultanée - Nom de domaine externe: 10000 qps, Nom de domaine interne: 40000 qp
                        Parameters.flavor3.name: 10000
                        Parameters.flavor4.description: >-
                          Capacité de résolution de nom de domaine simultanée - Nom de domaine externe: 20000 qps, Nom de domaine interne: 80000 qp
                        Parameters.flavor4.name: 20000
                      key:
                        Parameters.custom.stub_domains: "domaine stub"
                        Parameters.custom.upstream_nameservers: "serveurs de noms en amont"
                    zh_CN:
                      addon:
                        changeLog: ""
                        description: ""
                      description:
                        Parameters.custom.stub_domains: ""
                        Parameters.custom.upstream_nameservers: ""
                        Parameters.flavor1.description: ""
                        Parameters.flavor1.name: 2500
                        Parameters.flavor2.description: ""
                        Parameters.flavor2.name: 5000
                        Parameters.flavor3.description: ""
                        Parameters.flavor3.name: 10000
                        Parameters.flavor4.description: ""
                        Parameters.flavor4.name: 20000
                      key:
                        Parameters.custom.stub_domains: ""
                        Parameters.custom.upstream_nameservers: ""
                  supportVersions: null
                  creationTimestamp: "2021-12-14T13:43:15Z"
                  updateTimestamp: "2022-01-11T14:32:10Z"
          schema:
            $ref: "#/definitions/AddonInstance"
      deprecated: false
      x-name: "Installing an Add-on Instance"
      x-request-examples-1:
        kind: "Addon"
        apiVersion: "v3"
        metadata:
          annotations:
            addon.install/type: "install"
        spec:
          clusterID: "1b2ec02d-a3b2-11ec-b0d0-0255ac100099"
          version: "1.17.15"
          addonTemplateName: "coredns"
          values:
            basic:
              cluster_ip: "10.247.3.10"
              image_version: "1.17.15"
              platform: "linux-amd64"
              swr_addr: "<Replace_SWR_address>"
              swr_user: "hwofficial"
              rbac_enabled: true
            flavor:
              name: 2500
              replicas: 2
              resources:
                - limitsCpu: "500m"
                  limitsMem: "512Mi"
                  name: "coredns"
                  requestsCpu: "500m"
                  requestsMem: "512Mi"
            custom:
              stub_domains: {}
              upstream_nameservers: []
              cluster_id: "1b2ec02d-a3b2-11ec-b0d0-0255ac100099"
              tenant_id: "0504201b6c80256b2f08c0099f0c8fe4"
      x-constraint: ""
      x-scope: "Commercial"
      x-order: 1
      x-publishpath: "cce_02_0322"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
  /api/v3/addontemplates:
    get:
      tags:
        - "Add-on Management"
      summary: "Listing Add-on Templates"
      description: |-
        This API is used to query add-on templates.
      operationId: "ListAddonTemplates"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
        - name: "addon_template_name"
          in: "query"
          description: "Name or alias of the specified template. If this parameter is left unspecified, all templates are queried."
          required: false
          type: "string"
          maxLength: 30
          minLength: 2
          pattern: "^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])+$"
          x-order: 3
        - name: "base_update_addon_version"
          in: "query"
          description: |-
            Meaning: Earliest acceptable upgrade version

            Attribute: Hidden parameter
          x-internal: true
          required: false
          type: "string"
          maxLength: 8
          minLength: 5
          pattern: "^([1-9]\\d|[1-9])(\\.([1-9]\\d|\\d)){2}$"
          x-example: "1.0.0"
          x-order: 6
        - name: "cluster_id"
          in: "query"
          description: |-
            Meaning: Cluster to be queried

            Attribute: Hidden parameter
          x-internal: true
          required: false
          type: "string"
          maxLength: 64
          minLength: 1
          x-order: 7
        - name: "newest"
          in: "query"
          description: |-
            Meaning: Whether to obtain the add-on of the latest version.

            Attribute: Hidden parameter
          x-internal: true
          required: false
          type: "string"
          x-order: 4
        - name: "version"
          in: "query"
          description: |-
            Meaning: Add-on version to be filtered.

            Attribute: Hidden parameter
          x-internal: true
          required: false
          type: "string"
          maxLength: 8
          minLength: 5
          pattern: "^([1-9]\\d|[1-9])(\\.([1-9]\\d|\\d)){2}$"
          x-example: "1.0.0"
          x-order: 5
      responses:
        "200":
          description: "OK"
          examples:
            application/json:
              kind: "Addon"
              apiVersion: "v3"
              items:
                - kind: "Addon"
                  apiVersion: "v3"
                  metadata:
                    uid: "coredns"
                    name: "coredns"
                    alias: "coredns"
                    creationTimestamp: "2018-11-04T16:15:56Z"
                    updateTimestamp: "2022-01-11T14:32:10Z"
                  spec:
                    type: "helm"
                    require: true
                    labels:
                      - "ServiceDiscovery"
                    logoURL: ""
                    description: >-
                      CoreDNS is a DNS server that chains plugins and provides Kubernetes DNS Services
                    versions:
                      - version: "1.13.6"
                        input:
                          basic:
                            cluster_ip: "10.247.3.10"
                            ipv6: false
                            platform: "linux-amd64"
                            swr_addr: "100.125.16.65:20202"
                            swr_user: "hwofficial"
                          parameters:
                            custom:
                              stub_domains: ""
                              upstream_nameservers: ""
                            flavor1:
                              name: 2500
                              replicas: 2
                              resources:
                                - limitsCpu: "500m"
                                  limitsMem: "512Mi"
                                  name: "coredns"
                                  requestsCpu: "500m"
                                  requestsMem: "512Mi"
                            flavor2:
                              name: 5000
                              replicas: 2
                              resources:
                                - limitsCpu: "1000m"
                                  limitsMem: "1024Mi"
                                  name: "coredns"
                                  requestsCpu: "1000m"
                                  requestsMem: "1024Mi"
                            flavor3:
                              name: 10000
                              replicas: 2
                              resources:
                                - limitsCpu: "2000m"
                                  limitsMem: "2048Mi"
                                  name: "coredns"
                                  requestsCpu: "2000m"
                                  requestsMem: "2048Mi"
                            flavor4:
                              name: 20000
                              replicas: 4
                              resources:
                                - limitsCpu: "2000m"
                                  limitsMem: "2048Mi"
                                  name: "coredns"
                                  requestsCpu: "2000m"
                                  requestsMem: "2048Mi"
                        stable: true
                        translate:
                          en_US:
                            addon:
                              changeLog: "Support for clusters with new version"
                              description: >-
                                CoreDNS is a DNS server that chains plugins and provides Kubernetes DNS Services
                            description:
                              Parameters.custom.stub_domains: >-
                                The target nameserver may itself be a Kubernetes service. For instance, you can run your own copy of dnsmasq to export custom DNS names into the ClusterDNS namespace, a JSON map using a DNS suffix key (e.g. "acme.local") and a value consisting of a JSON array of DNS IPs.
                              Parameters.custom.upstream_nameservers: >-
                                If specified, then the values specified replace the nameservers taken by default from the node's /etc/resolv.conf. Limits:a maximum of three upstream nameservers can be specified, A JSON array of DNS IPs.
                              Parameters.flavor1.description: >-
                                Concurrent domain name resolution ability - External domain name: 2500 qps, Internal domain name: 10000 qps
                              Parameters.flavor1.name: 2500
                              Parameters.flavor2.description: >-
                                Concurrent domain name resolution ability - External domain name: 5000 qps, Internal domain name: 20000 qps
                              Parameters.flavor2.name: 5000
                              Parameters.flavor3.description: >-
                                Concurrent domain name resolution ability - External domain name: 10000 qps, Internal domain name: 40000 qps
                              Parameters.flavor3.name: 10000
                              Parameters.flavor4.description: >-
                                Concurrent domain name resolution ability - External domain name: 20000 qps, Internal domain name: 80000 qps
                              Parameters.flavor4.name: 20000
                            key:
                              Parameters.custom.stub_domains: "stub domain"
                              Parameters.custom.upstream_nameservers: "upstream nameservers"
                          fr_FR:
                            addon:
                              changeLog: >-
                                Prise en charge des clusters avec une nouvelle version
                              description: >-
                                Un serveur DNS qui enchaîne les plug-ins et fournit des services DNS Kubernetes.
                            description:
                              Parameters.custom.stub_domains: >-
                                Le serveur de noms cible peut lui-même être un service Kubernetes. Par exemple, vous pouvez exécuter votre propre copie de dnsmasq pour exporter des noms DNS personnalisés dans l'espace de noms ClusterDNS, une carte JSON à l'aide d'une clé de suffixe DNS (par exemple, «acme.local») et une valeur constituée d'un tableau JSON d'adresses IP DNS.
                              Parameters.custom.upstream_nameservers: >-
                                Si spécifié, les valeurs spécifiées remplacent les serveurs de noms pris par défaut dans le fichier /etc/resolv.conf du nœud. Limites: un maximum de trois serveurs de noms en amont peuvent être spécifiés, un tableau JSON d'adresses IP DNS.
                              Parameters.flavor1.description: >-
                                Capacité de résolution de nom de domaine simultanée - Nom de domaine externe: 2500 qps, Nom de domaine interne: 10000 qp
                              Parameters.flavor1.name: 2500
                              Parameters.flavor2.description: >-
                                Capacité de résolution de nom de domaine simultanée - Nom de domaine externe: 5000 qps, Nom de domaine interne: 20000 qp
                              Parameters.flavor2.name: 5000
                              Parameters.flavor3.description: >-
                                Capacité de résolution de nom de domaine simultanée - Nom de domaine externe: 10000 qps, Nom de domaine interne: 40000 qp
                              Parameters.flavor3.name: 10000
                              Parameters.flavor4.description: >-
                                Capacité de résolution de nom de domaine simultanée - Nom de domaine externe: 20000 qps, Nom de domaine interne: 80000 qp
                              Parameters.flavor4.name: 20000
                            key:
                              Parameters.custom.stub_domains: "domaine stub"
                              Parameters.custom.upstream_nameservers: "serveurs de noms en amont"
                          zh_CN:
                            addon:
                              changeLog: ""
                              description: ""
                            description:
                              Parameters.custom.stub_domains: ""
                              Parameters.custom.upstream_nameservers: ""
                              Parameters.flavor1.description: ""
                              Parameters.flavor1.name: 2500
                              Parameters.flavor2.description: ""
                              Parameters.flavor2.name: 5000
                              Parameters.flavor3.description: ""
                              Parameters.flavor3.name: 10000
                              Parameters.flavor4.description: ""
                              Parameters.flavor4.name: 20000
                            key:
                              Parameters.custom.stub_domains: ""
                              Parameters.custom.upstream_nameservers: ""
                        supportVersions:
                          - clusterType: "VirtualMachine"
                            clusterVersion:
                              - "v1.13.*"
                          - clusterType: "BareMetal"
                            clusterVersion:
                              - "v1.13.*"
                          - clusterType: "ARM64"
                            clusterVersion:
                              - "v1.13.*"
                        creationTimestamp: "2021-03-18T12:51:05Z"
                        updateTimestamp: "2021-03-18T12:51:05Z"
          schema:
            $ref: "#/definitions/AddonTemplates"
      deprecated: false
      x-name: "Listing Add-on Templates"
      x-constraint: ""
      x-scope: "Commercial"
      x-order: 2
      x-publishpath: "cce_02_0321"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
  /api/v3/addons/{id}:
    get:
      tags:
        - "Add-on Management"
      summary: "Querying an Add-on Instance"
      description: |-
        This API is used to obtain details about an add-on instance.
      operationId: "ShowAddonInstance"
      consumes:
        - "application/json"
      produces: []
      parameters:
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
        - name: "id"
          in: "path"
          description: "Add-on instance ID."
          required: true
          type: "string"
          maxLength: 255
          minLength: 1
          x-order: 3
        - name: "cluster_id"
          in: "query"
          description: "Cluster ID. For details about how to obtain a cluster ID, see [How to Obtain Parameters in the API URI](cce_02_0271.xml)."
          required: false
          type: "string"
          pattern: "^[0-9a-z]{8}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{12}$"
          x-order: 2
      responses:
        "200":
          description: "OK"
          examples:
            application/json:
              kind: "Addon"
              apiVersion: "v3"
              metadata:
                uid: "24b23108-55c0-11e9-926f-0255ac101a31"
                name: "gpu-beta"
                alias: "gpu"
                creationTimestamp: "2019-04-03T03:25:34Z"
                updateTimestamp: "2019-04-03T03:25:34Z"
              spec:
                clusterID: "0c0e4a63-5539-11e9-95f7-0255ac10177e"
                version: "1.0.0"
                addonTemplateName: "gpu-beta"
                addonTemplateType: "helm"
                addonTemplateLogo: ""
                addonTemplateLabels:
                  - "Accelerator"
                description: "A device plugin for nvidia.com/gpu resource on nvidia driver"
                values:
                  basic:
                    rbac_enabled: true
                    swr_addr: "100.125.6.246:20202"
                    swr_user: "hwofficial"
              status:
                status: "installing"
                Reason: ""
                message: ""
                targetVersions: null
                currentVersion:
                  version: "1.0.0"
                  input:
                    basic:
                      swr_addr: "100.125.6.246:20202"
                      swr_user: "hwofficial"
                    parameters: {}
                  stable: true
                  translate:
                    en_US:
                      addon:
                        changeLog: >-
                          A device plugin for nvidia.com/gpu resource on nvidia driver
                        description: >-
                          A device plugin for nvidia.com/gpu resource on nvidia driver
                    zh_CN:
                      addon:
                        changeLog: ""
                        description: ""
                  supportVersions: null
                  creationTimestamp: "2018-10-23T13:14:55Z"
                  updateTimestamp: "2018-12-07T09:40:24Z"
          schema:
            $ref: "#/definitions/AddonInstance"
      deprecated: false
      x-name: "Querying an Add-on Instance"
      x-constraint: ""
      x-scope: "Commercial"
      x-order: 5
      x-publishpath: "cce_02_0325"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
    put:
      tags:
        - "Add-on Management"
      summary: "Updating an Add-on Instance"
      description: |-
        This API is used to update an add-on instance.
      operationId: "UpdateAddonInstance"
      consumes:
        - "application/json"
      produces: []
      parameters:
        - name: "id"
          in: "path"
          description: "Add-on instance ID."
          required: true
          type: "string"
          maxLength: 255
          minLength: 1
          x-order: 3
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
        - in: "body"
          name: "UpdateAddonInstanceRequestBody"
          description: "Request body"
          required: true
          schema:
            $ref: "#/definitions/InstanceRequest"
          x-order: 4
      responses:
        "200":
          description: "OK"
          examples:
            application/json:
              kind: "Addon"
              apiVersion: "v3"
              metadata:
                uid: "684fa9b2-a987-11ec-ba79-0255ac100096"
                name: "gpu-beta"
                alias: "gpu"
                creationTimestamp: "2022-03-22T02:25:57Z"
                updateTimestamp: "2022-03-22T02:25:57Z"
              spec:
                clusterID: "1b2ec02d-a3b2-11ec-b0d0-0255ac100099"
                version: "1.2.10"
                addonTemplateName: "gpu-beta"
                addonTemplateType: "helm"
                addonTemplateLogo: "******"
                addonTemplateLabels:
                  - "Accelerator"
                description: "A device plugin for nvidia.com/gpu resource on nvidia driver"
                values:
                  basic:
                    device_version: "1.2.10"
                    driver_version: "1.2.10"
                    obs_url: "******"
                    rbac_enabled: true
                    region: "******"
                    swr_addr: "******"
                    swr_user: "hwofficial"
                  custom:
                    is_driver_from_nvidia: true
                    nvidia_driver_download_url: >-
                      https://us.download.nvidia.com/tesla/396.37/NVIDIA-Linux-x86_64-396.37.run
              status:
                status: "upgrading"
                Reason: "addon upgrading"
                message: ""
                targetVersions: null
                currentVersion:
                  version: "1.2.10"
                  input:
                    basic:
                      device_version: "1.2.10"
                      driver_version: "1.2.10"
                      obs_url: "******"
                      region: "******"
                      swr_addr: "******"
                      swr_user: "hwofficial"
                    parameters:
                      custom:
                        is_driver_from_nvidia: true
                        nvidia_driver_download_url: ""
                  stable: true
                  translate:
                    en_US:
                      addon:
                        changeLog: "Supported GPU driver of a new version for CentOS."
                        description: >-
                          A device plugin for nvidia.com/gpu resource on nvidia driver
                      description:
                        Parameters.custom.drivers_info.cuda: "CUDA Toolkit"
                        Parameters.custom.drivers_info.product: "Product"
                        Parameters.custom.drivers_info.product_series: "Product Series"
                        Parameters.custom.drivers_info.product_type: "Product Type"
                        Parameters.custom.nvidia_driver_download_url: "Download the nvidia driver accroding to the input link"
                      key:
                        Parameters.custom.nvidia_driver_download_url: "Nvidia Driver"
                    fr_FR:
                      addon:
                        changeLog: >-
                          Pilote GPU pris en charge d'une nouvelle version pour CentOS.
                        description: >-
                          Un plug-in de dispositif pour les ressources GPU sur un pilote NVIDIA.
                      description:
                        Parameters.custom.drivers_info.cuda: "Boîte à outils CUDA"
                        Parameters.custom.drivers_info.product: "Produit"
                        Parameters.custom.drivers_info.product_series: "Serie de produits"
                        Parameters.custom.drivers_info.product_type: "type de produit"
                        Parameters.custom.nvidia_driver_download_url: >-
                          Téléchargez le pilote nvidia accroding sur le lien d'entrée
                      key:
                        Parameters.custom.nvidia_driver_download_url: "Nvidia Driver"
                    zh_CN:
                      addon:
                        changeLog: ""
                        description: ""
                      description:
                        Parameters.custom.drivers_info.cuda: "CUDA Toolkit"
                        Parameters.custom.drivers_info.product: ""
                        Parameters.custom.drivers_info.product_series: ""
                        Parameters.custom.drivers_info.product_type: ""
                        Parameters.custom.nvidia_driver_download_url: ""
                      key:
                        Parameters.custom.nvidia_driver_download_url: ""
                  supportVersions: null
                  creationTimestamp: "2022-01-11T14:57:44Z"
                  updateTimestamp: "2022-01-11T15:04:37Z"
          schema:
            $ref: "#/definitions/AddonInstance"
      deprecated: false
      x-name: "Updating an Add-on Instance"
      x-request-examples-1:
        kind: "Addon"
        apiVersion: "v3"
        metadata:
          annotations:
            addon.upgrade/type: "upgrade"
        spec:
          clusterID: "1b2ec02d-a3b2-11ec-b0d0-0255ac100099"
          version: "1.2.10"
          addonTemplateName: "gpu-beta"
          values:
            basic:
              device_version: "1.2.10"
              driver_version: "1.2.10"
              obs_url: "******"
              region: "******"
              swr_addr: "******"
              swr_user: "hwofficial"
              rbac_enabled: true
            custom:
              is_driver_from_nvidia: true
              nvidia_driver_download_url: >-
                https://us.download.nvidia.com/tesla/396.37/NVIDIA-Linux-x86_64-396.37.run
      x-constraint: ""
      x-scope: "Commercial"
      x-order: 3
      x-publishpath: "cce_02_0323"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
    delete:
      tags:
        - "Add-on Management"
      summary: "Deleting an Add-on Instance"
      description: |-
        This API is used to delete an add-on instance.
      operationId: "DeleteAddonInstance"
      consumes:
        - "application/json"
      produces: []
      parameters:
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
        - name: "id"
          in: "path"
          description: "Add-on instance ID."
          required: true
          type: "string"
          maxLength: 255
          minLength: 1
          x-order: 1
        - name: "cluster_id"
          in: "query"
          description: "Cluster ID. For details about how to obtain a cluster ID, see [How to Obtain Parameters in the API URI](cce_02_0271.xml)."
          required: false
          type: "string"
          pattern: "^[0-9a-z]{8}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{12}$"
          x-order: 2
      responses:
        "200":
          description: "OK"
          examples:
            application/json: "success"
          schema:
            type: "string"
      deprecated: false
      x-name: "Deleting an Add-on Instance"
      x-constraint: ""
      x-scope: "Commercial"
      x-order: 4
      x-publishpath: "cce_02_0324"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
  /api/v3/addons/{id}/operation/rollback:
    post:
      tags:
        - "Add-on Management"
      summary: "Rolling Back an Add-on Instance"
      description: |-
        Roll back the add-on instance version to the source version. Only when the **status.isRollbackable** parameter is set to **true**, and the add-on instance is in the **running**, **available**, **abnormal**, **upgradeFailed**, or **rollbackFailed** state, the version can be rolled back to the source version.
      operationId: "RollbackAddonInstance"
      consumes:
        - "application/json"
      produces: [ ]
      parameters:
        - name: "id"
          in: "path"
          description: "Add-on instance ID"
          required: true
          type: "string"
          maxLength: 255
          minLength: 1
          x-order: 2
        - $ref: "#/parameters/param_header_x_auth_token"
        - in: "body"
          name: "AddonInstanceRollbackRequestBody"
          description: "Request body"
          required: true
          schema:
            $ref: "#/definitions/AddonInstanceRollbackRequest"
          x-order: 3
      x-request-examples-1:
        clusterID: "******"
      responses:
        "200":
          description: "Add-on instance version is rolled back."
          schema:
            $ref: "#/definitions/AddonInstance"
          examples:
            application/json:
              kind: "Addon"
              apiVersion: "v3"
              metadata:
                uid: "******"
                name: "everest"
                alias: "everest"
                creationTimestamp: "2023-03-15T02:48:01Z"
                updateTimestamp: "2023-03-15T04:18:45Z"
              spec:
                clusterID: "******"
                version: "2.1.16"
                addonTemplateName: "everest"
                addonTemplateType: "helm"
                addonTemplateLogo: "******"
                addonTemplateLabels:
                  - "Storage"
                description: "Everest is a cloud native container storage system based on CSI, used\nto support cloud storages services for Kubernetes"
                values:
                  basic:
                    base_image: "euleros"
                    bms_url: "******"
                    cluster_version: "v1.25"
                    driver_init_image_version: "2.1.16"
                    ecsEndpoint: "******"
                    euleros_version: "2.2.5"
                    everest_image_version: "2.1.16"
                    evs_url: "******"
                    iam_url: "******"
                    ims_url: "******"
                    obs_url: "******"
                    platform: "linux-amd64"
                    rbac_enabled: true
                    sfs30_url: "******"
                    sfs_turbo_url: "******"
                    sfs_url: "******"
                    supportHcs: false
                    swr_addr: "******"
                    swr_user: "******"
                  custom:
                    cluster_id: "******"
                    cluster_version: "v1.25.3-r0"
                    csi_attacher_detach_worker_threads: "60"
                    csi_attacher_worker_threads: "60"
                    default_vpc_id: "******"
                    disable_auto_mount_secret: false
                    enable_node_attacher: false
                    flow_control: { }
                    multiAZEnabled: false
                    over_subscription: "80"
                    project_id: "******"
                    volume_attaching_flow_ctrl: "0"
                  flavor:
                    category:
                      - "CCE"
                      - "Turbo"
                    description: "High available"
                    name: "HA"
                    replicas: 2
                    resources:
                      - limitsCpu: "250m"
                        limitsMem: "1500Mi"
                        name: "everest-csi-controller"
                        requestsCpu: "250m"
                        requestsMem: "600Mi"
                      - limitsCpu: "500m"
                        limitsMem: "300Mi"
                        name: "everest-csi-driver"
                        requestsCpu: "100m"
                        requestsMem: "300Mi"
                  multiAZPreferred:
                    podAntiAffinity:
                      preferredDuringSchedulingIgnoredDuringExecution:
                        - podAffinityTerm:
                            labelSelector:
                              matchExpressions:
                                - key: "app"
                                  operator: "In"
                                  values:
                                    - "everest-csi-controller"
                            topologyKey: "topology.kubernetes.io/zone"
                          weight: 100
                  multiAZRequired:
                    podAntiAffinity:
                      requiredDuringSchedulingIgnoredDuringExecution:
                        - labelSelector:
                            matchExpressions:
                              - key: "app"
                                operator: "In"
                                values:
                                  - "everest-csi-controller"
                          topologyKey: "topology.kubernetes.io/zone"
                  systemAutoInject:
                    cluster:
                      category: "CCE"
                      clusterID: "******"
                      clusterNetworkMode: "vpc-router"
                      clusterVersion: "v1.25.3-r0"
                    user:
                      projectID: "******"
                  tolerations:
                    - effect: "NoExecute"
                      key: "node.kubernetes.io/not-ready"
                      operator: "Exists"
                      tolerationSeconds: 60
                    - effect: "NoExecute"
                      key: "node.kubernetes.io/unreachable"
                      operator: "Exists"
                      tolerationSeconds: 60
              status:
                status: "rollbacking"
                Reason: "Rollback to 4"
                message: ""
                targetVersions:
                  - "2.1.18"
                  - "2.1.19"
                isRollbackable: false
                previousVersion: "2.1.19"
                currentVersion:
                  version: "2.1.16"
                  input:
                    basic:
                      bms_url: "******"
                      driver_init_image_version: "2.1.16"
                      ecsEndpoint: "******"
                      everest_image_version: "2.1.16"
                      evs_url: "******"
                      iam_url: "******"
                      ims_url: "******"
                      obs_url: "******"
                      platform: "linux-amd64"
                      sfs30_url: "******"
                      sfs_turbo_url: "******"
                      sfs_url: "******"
                      supportHcs: false
                      swr_addr: "******"
                      swr_user: "******"
                    parameters:
                      common:
                        defaultVPCId: 0
                      custom:
                        cluster_id: ""
                        csi_attacher_detach_worker_threads: "60"
                        csi_attacher_worker_threads: "60"
                        default_vpc_id: ""
                        disable_auto_mount_secret: false
                        enable_node_attacher: false
                        flow_control: { }
                        multiAZEnabled: false
                        over_subscription: "80"
                        project_id: ""
                        volume_attaching_flow_ctrl: "0"
                      flavor1:
                        description: "High available"
                        name: "HA"
                        replicas: 2
                        resources:
                          - limitsCpu: "250m"
                            limitsMem: "1500Mi"
                            name: "everest-csi-controller"
                            requestsCpu: "250m"
                            requestsMem: "600Mi"
                          - limitsCpu: "500m"
                            limitsMem: "300Mi"
                            name: "everest-csi-driver"
                            requestsCpu: "100m"
                            requestsMem: "300Mi"
                      flavor2:
                        description: "Has only one instance"
                        name: "Single"
                        replicas: 1
                        resources:
                          - limitsCpu: "250m"
                            limitsMem: "600Mi"
                            name: "everest-csi-controller"
                            requestsCpu: "250m"
                            requestsMem: "600Mi"
                          - limitsCpu: "100m"
                            limitsMem: "300Mi"
                            name: "everest-csi-driver"
                            requestsCpu: "100m"
                            requestsMem: "300Mi"
                      flavor3:
                        description: "custom resources"
                        name: "custom-resources"
                        replicas: 2
                        resources:
                          - limitsCpu: "250m"
                            limitsMem: "2000Mi"
                            name: "everest-csi-controller"
                            requestsCpu: "250m"
                            requestsMem: "1500Mi"
                          - limitsCpu: "500m"
                            limitsMem: "300Mi"
                            name: "everest-csi-driver"
                            requestsCpu: "100m"
                            requestsMem: "300Mi"
                  stable: true
                  translate:
                    en_US:
                      addon:
                        changeLog: "******"
                        description: "******"
                      description:
                        Parameters.flavor1.description: "******"
                        Parameters.flavor1.name: "******"
                        Parameters.flavor2.description: "******"
                        Parameters.flavor2.name: "******"
                        Parameters.flavor3.name: "******"
                    zh_CN:
                      addon:
                        changeLog: "******"
                        description: "******"
                      description:
                        Parameters.flavor1.description: "******"
                        Parameters.flavor1.name: "******"
                        Parameters.flavor2.description: "******"
                        Parameters.flavor2.name: "******"
                        Parameters.flavor3.description: "******"
                        Parameters.flavor3.name: "******"
                  supportVersions: null
                  creationTimestamp: "2023-02-21T16:29:02Z"
                  updateTimestamp: "2023-02-22T06:49:50Z"
      deprecated: false
      x-name: "Rolling Back an Add-on Instance"
      x-constraint: ""
      x-scope: "Commercial"
      x-order: 3
      x-publishpath: "RollbackAddonInstance"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
  /api/v3/projects/{project_id}/clusters/{cluster_id}/operation/hibernate:
    post:
      tags:
        - "Cluster Management"
      summary: "Hibernating a Cluster"
      description: "This API is used to hibernate a running cluster. After a cluster is hibernated, master node resources stop being billed."
      operationId: "HibernateCluster"
      consumes: []
      produces: []
      parameters:
        - $ref: "#/parameters/param_path_projectid"
        - $ref: "#/parameters/param_path_clusterid"
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
      responses:
        "200":
          description: "The cluster hibernation job is successfully delivered. Keep querying the cluster status. When the cluster status changes to **Hibernation**, the cluster is hibernated."
      deprecated: false
      x-name: "Hibernating a Cluster"
      x-constraint: |-
        1. After a cluster is hibernated, resources such as workloads cannot be created or managed in the cluster.


        2. After a pay-per-use cluster is hibernated, master node resources are not billed. Other resources such as the nodes to which the cluster belongs, bound EIP, and bandwidth are billed based on their billing mode (yearly/monthly or pay-per-use).
      x-scope: "Commercial"
      x-order: 6
      x-publishpath: "cce_02_0374"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
  /api/v3/projects/{project_id}/clusters/{cluster_id}/operation/awake:
    post:
      tags:
        - "Cluster Management"
      summary: "Waking Up a Cluster"
      description: "This API is used to wake up a hibernated cluster. After the cluster is woken up, master node resources continue to be billed."
      operationId: "AwakeCluster"
      consumes: []
      produces: []
      parameters:
        - $ref: "#/parameters/param_path_projectid"
        - $ref: "#/parameters/param_path_clusterid"
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
      responses:
        "200":
          description: "The cluster wakeup job is successfully delivered. Keep querying the cluster status. When the cluster status changes to **Available**, the cluster is woken up successfully."
      deprecated: false
      x-name: "Waking Up a Cluster"
      x-constraint: ""
      x-scope: "Commercial"
      x-order: 7
      x-publishpath: "cce_02_0375"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
  /api/v3/projects/{project_id}/clusters/{cluster_id}/clustercert:
    get:
      tags:
        - "Cluster Management"
      summary: "Obtaining Cluster Certificates (Deprecated)"
      description: "This API is used to obtain a certificate of a specified cluster."
      operationId: "CreateClusterCert"
      consumes: []
      produces: []
      parameters:
        - $ref: "#/parameters/param_path_projectid"
        - $ref: "#/parameters/param_path_clusterid"
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
      responses:
        "200":
          description: "The certificate of the specified cluster is successfully obtained. For details about the certificate file format, see the Kubernetes v1.Config structure."
          examples:
            application/json:
              kind: "Config"
              apiVersion: "v1"
              preferences: {}
              clusters:
                - name: "internalCluster"
                  cluster:
                    server: "https://192.168.1.7:5443"
                    certificate-authority-data: "Q2VydGlmaWN******kQgQ0VSVElGSUNBVEUtLS0tLQo="
              users:
                - name: "user"
                  user:
                    client-certificate-data: "LS0tLS1CRUdJTi******RklDQVRFLS0tLS0K"
                    client-key-data: "LS0tLS1CRUdJTiBSU******BLRVktLS0tLQo="
              contexts:
                - name: "internal"
                  context:
                    cluster: "internalCluster"
                    user: "user"
              current-context: "internal"
          schema:
            $ref: "#/definitions/ClusterCertResponseBody"
      deprecated: true
      x-name: "Obtaining a Cluster Certificate"
      x-constraint: ""
      x-scope: "Deprecated"
      x-order: 10
      x-publishpath: "cce_02_0359"
      x-support-sdk: "N"
      x-apiexplorer-hide: "true"
      x-is-registered: "Y"
    post:
      tags:
        - "Cluster Management"
      summary: "Obtaining a Cluster Certificate"
      description: "This API is used to obtain a certificate of a specified cluster."
      operationId: "CreateKubernetesClusterCert"
      consumes: []
      produces: []
      parameters:
        - $ref: "#/parameters/param_path_projectid"
        - $ref: "#/parameters/param_path_clusterid"
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
        - in: "body"
          name: "CreateKubernetesClusterCertRequestBody"
          description: "Body of the request for creating a cluster certificate"
          required: true
          schema:
            $ref: "#/definitions/CertDuration"
          x-order: 500
          x-example: "{ \t\"duration\": 30 }"
      responses:
        "200":
          description: "The certificate of the specified cluster is successfully obtained. For details about the certificate file format, see the Kubernetes v1.Config structure."
          headers:
            Port-ID:
              type: "string"
              description: "Port ID of the cluster master node"
          schema:
            $ref: "#/definitions/ClusterCertResponseBody"
          examples:
            application/json:
              kind: "Config"
              apiVersion: "v1"
              preferences: {}
              clusters:
                - name: "internalCluster"
                  cluster:
                    server: "https://192.168.1.7:5443"
                    certificate-authority-data: "Q2VydGlmaWNhdGU6******FTkQgQ0VSVElGSUNBVEUtLS0tLQo="
              users:
                - name: "user"
                  user:
                    client-certificate-data: "LS0tLS1CRUdJTiBDR******QVRFLS0tLS0K"
                    client-key-data: "LS0tLS1CRUdJTi******BLRVktLS0tLQo="
              contexts:
                - name: "internal"
                  context:
                    cluster: "internalCluster"
                    user: "user"
              current-context: "internal"
      deprecated: false
      x-name: "Obtaining a Cluster Certificate"
      x-constraint: |-
        This API is applicable to clusters of v1.13 and later.
      x-scope: "Commercial"
      x-order: 11
      x-request-examples-description-1: "Applying for a cluster access certificate valid for 30 days"
      x-request-examples-url-1: ""
      x-request-examples-1:
        duration: 30
      x-publishpath: "cce_02_0248"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
  /api/v3/projects/{project_id}/clusters/{cluster_id}/clustercertrevoke:
    post:
      tags:
        - Cluster Management
      summary: Revoking a Cluster Certificate of a User
      description: |
        This API is used to revoke a certificate of a specified cluster. 
        > Once the cluster certificate is revoked, the certificate applicant will no longer be able to use the downloaded certificate and kubectl configuration files to access the cluster. However, the applicant can simply download the files again and use the newly downloaded ones to regain access.
      operationId: RevokeKubernetesClusterCert
      parameters:
        - $ref: '#/parameters/param_path_projectid'
        - $ref: '#/parameters/param_path_clusterid'
        - $ref: '#/parameters/param_header_content_type'
        - $ref: '#/parameters/param_header_x_auth_token'
        - name: CertRevokeConfigRequestBody
          in: body
          description: Request body for revoking a user certificate
          required: true
          x-order: 5
          schema:
            $ref: '#/definitions/CertRevokeConfigRequestBody'
      responses:
        '200':
          description: A user cluster certificate has been revoked.
      deprecated: false
      x-name: Revoking a Cluster Certificate of a User
      x-constraint: |
        Before revoking a cluster certificate, you need to get the user ID, which can be obtained in either of the following ways:
        - Method 1: Obtain the certificate downloaded by the applicant. The name (**CN - Common Name**) of the certificate is the required user ID.
        - Method 2: If you cannot obtain the certificate downloaded by the applicant, use CTS to obtain the events of deleting a user (**deleteUser**) and deleting an agency (**deleteAgency**). The resource IDs of the events are the IDs of the deleted user and delegated account, respectively.
        If the ID still cannot be obtained, submit a service ticket.
      x-is-registered: 'Y'
      x-support-sdk: 'Y'
      x-publishpath: cce_02_0249
      x-apiexplorer-hide: 'false'
      x-api-category: cce
      x-scope: Commercial
      x-order: 12
      x-open-region-cloud: hws,hws_hk,sbc,hk_sbc,ctc,cmcc,g42,tm,hk_tm,hk_g42,hcso,hcs,hws_eu,hcso_dt,dt
      x-request-examples-url-1: POST /api/v3/projects/{project_id}/clusters/{cluster_id}/clustercertrevoke
      x-request-examples-1:
        userID: '537e7a3bd**********6c5657fd908ff'
  /api/v3/projects/{project_id}/clusters:
    get:
      tags:
        - "Cluster Management"
      summary: "Listing Clusters in a Specified Project"
      description: "This API is used to obtain details about all clusters in a specified project."
      operationId: "ListClusters"
      consumes: []
      produces:
        - "application/json"
      parameters:
        - $ref: "#/parameters/param_path_projectid"
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
        - $ref: "#/parameters/param_query_error_status"
        - name: "detail"
          in: "query"
          description: |-
            Whether the details about a cluster are queried.

            If this parameter is set to **true**, the total number of nodes (totalNodesNumber), number of normal nodes (activeNodesNumber), total CPUs (totalNodesCPU), total memory size (totalNodesMemory), and installed add-ons (installedAddonInstances) will be added to the annotation. The details of installed add-ons include the add-on name (addonTemplateName), version (version), and status (status).
          required: false
          type: "string"
          x-order: 200
        - name: "status"
          in: "query"
          description: |-
            Cluster status. Possible values:
            - **Available**: The cluster is running properly.
            - **Unavailable**: The cluster is exhibiting unexpected behavior. Manually delete the cluster.
            - **ScalingUp**: Nodes are being added to the cluster.
            - **ScalingDown**: The cluster is being downsized to fewer nodes.
            - **Creating**: The cluster is being created.
            - **Deleting**: The cluster is being deleted.
            - **Upgrading**: The cluster is being upgraded.
            - **Resizing**: Cluster specifications are being changed.
            - **RollingBack**: The cluster is being rolled back.
            - **RollbackFailed**: The rollback is abnormal.
            - **Empty**: The cluster has no resources.
          required: false
          type: "string"
          enum:
            - "Available"
            - "Unavailable"
            - "ScalingUp"
            - "ScalingDown"
            - "Creating"
            - "Deleting"
            - "Upgrading"
            - "Resizing"
            - "RollingBack"
            - "RollbackFailed"
            - "Empty"
          x-order: 201
        - name: "type"
          in: "query"
          description: |-
            Cluster type. Options:
            - **VirtualMachine**: CCE cluster
            - **ARM64**: Kunpeng cluster
          required: false
          type: "string"
          enum:
            - "VirtualMachine"
            - "ARM64"
          x-order: 202
        - name: "version"
          in: "query"
          description: "Cluster version filtering."
          required: false
          type: "string"
          maxLength: 20
          minLength: 0
          x-example: "v1.15.11"
          x-order: 203
      responses:
        "200":
          description: "The cluster list is successfully obtained."
          examples:
            application/json:
              kind: "Cluster"
              apiVersion: "v3"
              items:
                - kind: "Cluster"
                  apiVersion: "v3"
                  metadata:
                    name: "mycluster"
                    uid: "4d1ecb2c-229a-11e8-9c75-0255ac100ceb"
                    creationTimestamp: "2018-08-02 03:48:58.968214406 +0000 UTC"
                    updateTimestamp: "2018-08-02 04:05:29.386391813 +0000 UTC"
                  spec:
                    type: "VirtualMachine"
                    flavor: "cce.s1.small"
                    version: "v1.7.3-r13"
                    description: "awesome cluster"
                    customSan:
                      - "192.168.1.0"
                      - "example.com"
                    hostNetwork:
                      vpc: "f0c12911-4fdb-4284-9230-7ffb0860826a"
                      subnet: "ac274229-fd2e-4695-9f01-a0c1372b8006"
                    containerNetwork:
                      mode: "overlay_l2"
                      cidr: "172.16.0.0/16"
                    authentication:
                      mode: "x509"
                      authenticatingProxy: {}
                    billingMode: 0
                  status:
                    phase: "Available"
                    endpoints:
                      - url: "https://192.168.0.11:5443"
                        type: "Internal"
          schema:
            $ref: "#/definitions/ClusterList"
      deprecated: false
      x-name: "Listing Clusters in a Specified Project"
      x-constraint: ""
      x-scope: "Commercial"
      x-order: 3
      x-publishpath: "cce_02_0239"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
    post:
      tags:
        - "Cluster Management"
      summary: "Creating a Cluster"
      description: |-
        This API is used to create an empty cluster, which has only master nodes but no worker nodes. After creating a cluster by calling this API, you can add nodes by **creating nodes**(cce_02_0242.xml).


        >   - The URL for cluster management is in the format of **https://Endpoint/uri, in which *uri* indicates the resource path, that is, the path for API access.
        >   - By default, ICAgent is not installed when you call this API to create a cluster. If you need to install ICAgent, add "cluster.install.addons.external/install":"[{"addonTemplateName":"icagent"}]" to **annotations** in the request body. ICAgent will be automatically installed during cluster creation. ICAgent is an O&M data collection agent used by Application Performance Management (APM). It runs on each server to collect data from probes in real time. ICAgent is the prerequisite for achieving application O&M. If ICAgent is not installed, the application O&M functions cannot be used.
      operationId: "CreateCluster"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: "#/parameters/param_path_projectid"
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
        - name: "CreateClusterRequestBody"
          description: "Request body carrying the cluster specifications."
          in: "body"
          required: true
          schema:
            $ref: "#/definitions/Cluster"
          x-order: 500
      responses:
        "201":
          description: "The cluster creation job is successfully delivered."
          examples:
            application/json:
              kind: "Cluster"
              apiVersion: "v3"
              metadata:
                name: "cluster"
                uid: "bce956e1-87f3-11ec-b5e5-0255ac101514"
                creationTimestamp: "2022-02-07 08:55:45.785425492 +0000 UTC"
                updateTimestamp: "2022-02-07 08:55:45.78542824 +0000 UTC"
                annotations:
                  jobid: "bd42f724-87f3-11ec-b5e5-0255ac101514"
                  resourceJobId: "bce99f78-87f3-11ec-b5e5-0255ac101514"
              spec:
                category: "CCE"
                type: "VirtualMachine"
                flavor: "cce.s2.small"
                version: "v1.19.10-r0"
                platformVersion: "cce.5.0"
                hostNetwork:
                  vpc: "030bfb19-5fa7-42ad-8a0d-c0721d268867"
                  subnet: "ca964acf-8468-4735-8229-97940ef6c881"
                containerNetwork:
                  mode: "vpc-router"
                  cidr: "10.0.0.0/16"
                  cidrs:
                    - cidr: "10.0.0.0/16"
                eniNetwork: {}
                authentication:
                  mode: "rbac"
                  authenticatingProxy: {}
                billingMode: 0
                kubernetesSvcIpRange: "10.247.0.0/16"
                kubeProxyMode: "iptables"
                extendParam:
                  alpha.cce/fixPoolMask: "25"
                  enterpriseProjectId: "0"
                  kubeProxyMode: "iptables"
                  orderID: ""
              status:
                phase: "Creating"
                jobID: "bd42f724-87f3-11ec-b5e5-0255ac101514"
          schema:
            $ref: "#/definitions/Cluster"
      deprecated: false
      x-name: "Creating a Cluster"
      x-constraint: "Before calling the CCE API to create a cluster, ensure that the following conditions are met:\n\n- A **VPC** is available. \n\n- CIDR blocks have been properly set for containers and Services. They are not editable after cluster creation, unless you create a new cluster.\n\n- An agency has been correctly created and is not deleted. If the agency verification fails, the cluster fails to be created. You can log in to the CCE console. If no agency is created, the system prompts you to create one. If an agency has been created, no message is displayed.\n\n- By default, an account can create a maximum of five clusters in each region. If you need to create more clusters, you can submit an application to increase the quota."
      x-scope: "Commercial"
      x-order: 1
      x-request-examples-description-1: "Creating a CCE Cluster"
      x-request-examples-url-1: "/api/v3/projects/{project_id}/clusters"
      x-request-examples-1:
        kind: "Cluster"
        apiVersion: "v3"
        metadata:
          name: "cluster"
        spec:
          category: "CCE"
          flavor: "cce.s2.small"
          version: "v1.19"
          hostNetwork:
            vpc: "030bfb19-5fa7-42ad-8a0d-c0721d268867"
            subnet: "ca964acf-8468-4735-8229-97940ef6c881"
          containerNetwork:
            mode: "vpc-router"
            cidr: "10.0.0.0/16"
          kubernetesSvcIpRange: "10.247.0.0/16"
          description: ""
          billingMode: 0
          extendParam:
            kubeProxyMode: "iptables"
            alpha.cce/fixPoolMask: "25"
            enterpriseProjectId: "0"
          authentication:
            mode: "rbac"
          ipv6enable: false
      x-request-examples-description-2: "Creating a CCE cluster with ICAgent installed"
      x-request-examples-url-2: "/api/v3/projects/{project_id}/clusters"
      x-request-examples-2:
        kind: "Cluster"
        apiVersion: "v3"
        metadata:
          name: "cluster"
          annotations:
            cluster.install.addons.external/install: "[{\"addonTemplateName\":\"icagent\"}]"
        spec:
          category: "CCE"
          flavor: "cce.s2.small"
          version: "v1.19"
          hostNetwork:
            vpc: "030bfb19-5fa7-42ad-8a0d-c0721d268867"
            subnet: "ca964acf-8468-4735-8229-97940ef6c881"
          containerNetwork:
            mode: "vpc-router"
            cidr: "10.0.0.0/16"
          kubernetesSvcIpRange: "10.247.0.0/16"
          description: ""
          billingMode: 0
          extendParam:
            kubeProxyMode: "iptables"
            alpha.cce/fixPoolMask: "25"
            enterpriseProjectId: "0"
          authentication:
            mode: "rbac"
          ipv6enable: false
      x-request-examples-description-3: "Creating a Cluster and Specifying a Default Node Security Group"
      x-request-examples-url-3: "/api/v3/projects/{project_id}/clusters"
      x-request-examples-3:
        kind: "Cluster"
        apiVersion: "v3"
        metadata:
          name: "cluster"
        spec:
          category: "CCE"
          flavor: "cce.s2.small"
          version: "v1.19"
          hostNetwork:
            vpc: "030bfb19-5fa7-42ad-8a0d-c0721d268867"
            subnet: "ca964acf-8468-4735-8229-97940ef6c881"
            SecurityGroup: "a4ef108c-2ec6-492f-a6c4-7b64e25ae490"
          containerNetwork:
            mode: "vpc-router"
            cidr: "10.0.0.0/16"
          kubernetesSvcIpRange: "10.247.0.0/16"
          description: ""
          billingMode: 0
          extendParam:
            kubeProxyMode: "iptables"
            alpha.cce/fixPoolMask: "25"
            enterpriseProjectId: "0"
          authentication:
            mode: "rbac"
          ipv6enable: false
      x-request-examples-description-4: |-
        This API is used to create an HA CCE Turbo cluster of v1.25 with 50 nodes[ billed on a pay-per-use basis](tag:hws,hws_hk).
      x-request-examples-url-4: "/api/v3/projects/{project_id}/clusters"
      x-request-examples-4:
        kind: "Cluster"
        apiVersion: "v3"
        metadata:
          name: "cluster"
        spec:
          category: "Turbo"
          flavor: "cce.s2.small"
          version: "v1.25"
          type: "VirtualMachine"
          hostNetwork:
            vpc: "030bfb19-5fa7-42ad-8a0d-c0721d268867"
            subnet: "ca964acf-8468-4735-8229-97940ef6c881"
          containerNetwork:
            mode: "eni"
          eniNetwork:
            eniSubnetId: "861fb11d-2f0e-4c10-a98a-166dc26e4ff7"
            eniSubnetCIDR: "192.168.0.0/24"
            subnets:
            - subnetID: "861fb11d-2f0e-4c10-a98a-166dc26e4ff7"
          serviceNetwork:
            IPv4CIDR: "10.247.0.0/16"
          description: ""
          billingMode: 0
          extendParam:
            kubeProxyMode: "iptables"
            enterpriseProjectId: "0"
          authentication:
            mode: "rbac"
          ipv6enable: false
      x-publishpath: "cce_02_0236"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
  /api/v3/projects/{project_id}/clusters/{cluster_id}:
    get:
      tags:
        - "Cluster Management"
      summary: "Reading a Specified Cluster"
      description: |-
        This API is used to obtain details about a specified cluster.
        >The URL for cluster management is in the format of https://Endpoint/uri. In the URL, **uri** indicates the resource path, that is, the path for API access.
      operationId: "ShowCluster"
      consumes: []
      produces: []
      parameters:
        - $ref: "#/parameters/param_path_projectid"
        - $ref: "#/parameters/param_path_clusterid"
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
        - $ref: "#/parameters/param_query_error_status"
        - name: "detail"
          in: "query"
          description: |-
            Whether the details about a cluster are queried.

            If this parameter is set to **true**, the total number of nodes (totalNodesNumber), number of normal nodes (activeNodesNumber), total CPUs (totalNodesCPU), total memory size (totalNodesMemory), and installed add-ons (installedAddonInstances) will be added to the annotation. The details of installed add-ons include the add-on name (addonTemplateName), version (version), and status (status).
          required: false
          type: "string"
          x-order: 200
      responses:
        "200":
          description: "Information about the specified cluster is successfully obtained."
          examples:
            application/json:
              kind: "Cluster"
              apiVersion: "v3"
              metadata:
                name: "mycluster"
                uid: "4d1ecb2c-229a-11e8-9c75-0255ac100ceb"
                creationTimestamp: "2018-08-02 03:48:58.968214406 +0000 UTC"
                updateTimestamp: "2018-08-02 04:05:29.386391813 +0000 UTC"
              spec:
                type: "VirtualMachine"
                flavor: "cce.s1.small"
                version: "v1.7.3-r13"
                description: "this is a demo cluster"
                customSan:
                  - "192.168.1.0"
                  - "example.com"
                hostNetwork:
                  vpc: "4d1ecb2c-229a-11e8-9c75-0255ac100ceb"
                  subnet: "4d1ecb2c-229a-11e8-9c75-0255ac100ceb"
                containerNetwork:
                  mode: "overlay_l2"
                  cidr: "172.16.0.0/16"
                authentication:
                  mode: "x509"
                  authenticatingProxy: {}
                billingMode: 0
              status:
                phase: "Available"
                endpoints:
                  - url: "https://192.168.0.11:5443"
                    type: "Internal"
          schema:
            $ref: "#/definitions/ShowCluster"
      deprecated: false
      x-name: "Reading a Specified Cluster"
      x-constraint: ""
      x-scope: "Commercial"
      x-order: 2
      x-publishpath: "cce_02_0238"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
    put:
      tags:
        - "Cluster Management"
      summary: "Updating a Specified Cluster"
      description: |-
        This API is used to update information about a specified cluster.
        >The URL for cluster management is in the format of https://Endpoint/uri. In the URL, **uri** indicates the resource path, that is, the path for API access.
      operationId: "UpdateCluster"
      consumes: []
      produces: []
      parameters:
        - $ref: "#/parameters/param_path_projectid"
        - $ref: "#/parameters/param_path_clusterid"
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
        - $ref: "#/parameters/param_query_error_status"
        - name: "UpdateClusterRequestBody"
          in: "body"
          description: "Detailed description of the cluster object. CCE creates or updates objects by defining or updating **spec**."
          required: true
          schema:
            $ref: "#/definitions/ClusterInformation"
          x-order: 500
      responses:
        "200":
          description: "Information about the specified cluster is successfully updated."
          examples:
            application/json:
              kind: "Cluster"
              apiVersion: "v3"
              metadata:
                name: "mycluster"
                uid: "4d1ecb2c-229a-11e8-9c75-0255ac100ceb"
                creationTimestamp: "2018-08-02 03:48:58.968214406 +0000 UTC"
                updateTimestamp: "2018-08-02 06:39:36.844676088 +0000 UTC"
              spec:
                type: "VirtualMachine"
                flavor: "cce.s1.small"
                version: "v1.7.3-r13"
                description: "new description"
                customSan:
                  - "192.168.1.0"
                  - "example.com"
                hostNetwork:
                  vpc: "4d1ecb2c-229a-11e8-9c75-0255ac100ceb"
                  subnet: "4d1ecb2c-229a-11e8-9c75-0255ac100ceb"
                  SecurityGroup: "6ee29825-8f49-4796-b33a-fc76f84a59ae"
                containerNetwork:
                  mode: "overlay_l2"
                  cidr: "172.17.0.0/16"
                authentication:
                  mode: "x509"
                  authenticatingProxy: {}
                billingMode: 0
              status:
                phase: "Available"
                endpoints:
                  - url: "https://192.168.0.11:5443"
                    type: "Internal"
          schema:
            $ref: "#/definitions/Cluster"
      deprecated: false
      x-name: "Updating a Specified Cluster"
      x-constraint: ""
      x-scope: "Commercial"
      x-order: 4
      x-request-examples-description-1: "Updating only the description of a cluster"
      x-request-examples-url-1: ""
      x-request-examples-1:
        spec:
          description: "new description"
      x-request-examples-description-2: "Updating only the custom SAN of the cluster certificate"
      x-request-examples-url-2: ""
      x-request-examples-2:
        spec:
          customSan:
            - "192.168.1.0"
            - "example.com"
      x-request-examples-description-3: "Updating both the cluster description and custom certificate SAN"
      x-request-examples-url-3: ""
      x-request-examples-3:
        spec:
          description: "new description"
          customSan:
            - "192.168.1.0"
            - "example.com"
      x-request-examples-description-4: "Adding a container CIDR block for a cluster of v1.21 or later that uses the VPC network model"
      x-request-examples-url-4: ""
      x-request-examples-4:
        spec:
          containerNetwork:
            cidrs:
              - cidr: "10.10.0.0/16"
              - cidr: "10.11.0.0/16"
      x-request-examples-description-5: "Modifying the Security Group of the Default Node in the Cluster"
      x-request-examples-url-5: "/api/v3/projects/{project_id}/clusters/{cluster_id}"
      x-request-examples-5:
        spec:
          hostNetwork:
            SecurityGroup: "6ee29825-8f49-4796-b33a-fc76f84a59ae"
      x-publishpath: "cce_02_0240"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
    delete:
      tags:
        - "Cluster Management"
      summary: "Deleting a Cluster"
      description: |-
        This API is used to delete a specified cluster.
        >The URL for cluster management is in the format of https://Endpoint/uri. In the URL, **uri** indicates the resource path, that is, the path for API access.
      operationId: "DeleteCluster"
      parameters:
        - $ref: "#/parameters/param_path_projectid"
        - $ref: "#/parameters/param_path_clusterid"
        - $ref: "#/parameters/param_header_content_type"
        - $ref: "#/parameters/param_header_x_auth_token"
        - $ref: "#/parameters/param_query_error_status"
        - name: "delete_efs"
          in: "query"
          description: |-
            Whether to delete SFS Turbo volumes.
            Value options:
            - **true** or **block** (The system starts to delete the object. If the deletion fails, subsequent processes are blocked.)
            - **try** (The system starts to delete the object. If the deletion fails, no deletion retry is performed, and subsequent processes are not blocked.)
            - **false** or **skip** (The object is not deleted. These are the default value options.)
          required: false
          type: "string"
          default: "false"
          x-example: "delete_efs=true"
          enum:
            - "true"
            - "block"
            - "try"
            - "false"
            - "skip"
          x-order: 200
        - name: "delete_eni"
          in: "query"
          description: |-
            Whether to delete ENI ports (native elastic network interface).
            Value options:
            - **true** or **block** (The system starts to delete the object. If the deletion fails, subsequent processes are blocked.)
            - **try** (The system starts to delete the object. If the deletion fails, no deletion retry is performed, and subsequent processes are not blocked.)
            - **false** or **skip** (Skip the deletion.)
          required: false
          type: "string"
          default: "block"
          x-example: "delete_eni=true"
          x-open-region-cloud: "hws,hws_hk,dt"
          enum:
            - "true"
            - "block"
            - "try"
            - "false"
            - "skip"
          x-order: 201
        - name: "delete_evs"
          in: "query"
          description: |-
            Whether to delete EVS disks.
            Value options:
            - **true** or **block** (The system starts to delete the object. If the deletion fails, subsequent processes are blocked.)
            - **try** (The system starts to delete the object. If the deletion fails, no deletion retry is performed, and subsequent processes are not blocked.)
            - **false** or **skip** (The object is not deleted. These are the default value options.)
          required: false
          type: "string"
          default: "false"
          x-example: "delete_evs=true"
          enum:
            - "true"
            - "block"
            - "try"
            - "false"
            - "skip"
          x-order: 202
        - name: "delete_net"
          in: "query"
          description: |-
            Whether to delete cluster Service and ingress resources, such as ELB load balancers.
            Value options:
            - **true** or **block** (The system starts to delete the object. If the deletion fails, subsequent processes are blocked.)
            - **try** (The system starts to delete the object. If the deletion fails, no deletion retry is performed, and subsequent processes are not blocked.)
            - **false** or **skip** (Skip the deletion.)
          required: false
          type: "string"
          default: "block"
          x-example: "delete_net=true"
          enum:
            - "true"
            - "block"
            - "try"
            - "false"
            - "skip"
          x-order: 203
        - name: "delete_obs"
          in: "query"
          description: |-
            Whether to delete OBS volumes.
            Value options:
            - **true** or **block** (The system starts to delete the object. If the deletion fails, subsequent processes are blocked.)
            - **try** (The system starts to delete the object. If the deletion fails, no deletion retry is performed, and subsequent processes are not blocked.)
            - **false** or **skip** (The object is not deleted. These are the default value options.)
          required: false
          type: "string"
          default: "false"
          x-example: "delete_obs=true"
          enum:
            - "true"
            - "block"
            - "try"
            - "false"
            - "skip"
          x-order: 204
        - name: "delete_sfs"
          in: "query"
          description: |-
            Whether to delete SFS volumes.
            Value options:
            - **true** or **block** (The system starts to delete the object. If the deletion fails, subsequent processes are blocked.)
            - **try** (The system starts to delete the object. If the deletion fails, no deletion retry is performed, and subsequent processes are not blocked.)
            - **false** or **skip** (The object is not deleted. These are the default value options.)
          required: false
          type: "string"
          default: "false"
          x-example: "delete_sfs=true"
          enum:
            - "true"
            - "block"
            - "try"
            - "false"
            - "skip"
          x-order: 205
        - name: "delete_sfs30"
          in: "query"
          description: |-
            Whether to delete an SFS 3.0 volume.
            Example value:
            - **true** or **block** (The system starts to delete the object. If the deletion fails, subsequent processes are blocked.)
            - **try** (The system starts to delete the object. If the deletion fails, no deletion retry is performed, and subsequent processes are not blocked.)
            - **false** or **skip** (The object is not deleted. These are the default value options.)
          required: false
          type: "string"
          default: "false"
          x-example: "delete_sfs30=true"
          enum:
            - "true"
            - "block"
            - "try"
            - "false"
            - "skip"
          x-order: 206
        - name: lts_reclaim_policy
          in: query
          description: |-
            Whether to delete an SFS 3.0 volume.
            Example value:
            - **true** or **block** (The system starts to delete the object. If the deletion fails, subsequent processes are blocked.)
            - **try** (The system starts to delete the object. If the deletion fails, no deletion retry is performed, and subsequent processes are not blocked.)
            - **false** or **skip** (The object is not deleted. These are the default value options.)
          required: false
          type: string
          default: 'false'
          x-example: lts_reclaim_policy=true
          enum:
            - 'true'
            - block
            - try
            - 'false'
            - skip
          x-order: 207
        - name: "tobedeleted"
          in: "query"
          description: |-
            Whether to use the preset deletion mode for yearly/monthly-billed clusters. This parameter is valid only for yearly/monthly-billed clusters.

            This parameter must be used together with other deletion parameters. You can specify parameter values or the system uses the default ones.

            If this parameter is used, the cluster does not delete resources. All query parameters of this request will be preset in the cluster database for identifying the resources to be deleted when a yearly/monthly-billed cluster is unsubscribed from.

            This request can be executed for multiple times. Each request overwrites the deletion parameters preset last time.

            Value options:
            - **true** (preset mode. Only the query parameters are preset and the deletion is not performed.)
          required: false
          type: "string"
          x-example: "tobedeleted=true"
          x-open-region-cloud: "hws,hws_hk"
          enum:
            - "true"
          x-order: 208
        - name: ondemand_node_policy
          in: query
          description: |-
            Policies for processing all pay-per-use nodes in a cluster. Options:

            - delete: The nodes will be deleted.
            - reset: The nodes will be reset and retained. The data stored in the nodes will not be retained.
            - retain: The nodes and the data stored in the nodes will be retained. The nodes will not be reset.
          required: false
          type: string
          x-example: ondemand_node_policy=delete
          x-open-region-cloud: hws,hws_hk
          enum:
            - 'delete'
            - 'reset'
            - 'retain'
          x-order: 209
        - name: periodic_node_policy
          in: query
          description: |-
            Policies for processing all yearly/monthly nodes in a cluster. Options:

            - reset: The nodes will be reset and retained. The data stored in the nodes will not be retained.
            - retain: The nodes and the data stored in the nodes will be retained. The nodes will not be reset.
          required: false
          type: string
          x-example: periodic_node_policy=reset
          x-open-region-cloud: hws,hws_hk
          enum:
            - 'reset'
            - 'retain'
          x-order: 210
      responses:
        "200":
          description: "The job for deleting a cluster is successfully delivered."
          examples:
            application/json:
              kind: "Cluster"
              apiVersion: "v3"
              metadata:
                name: "mycluster"
                uid: "fc563b3c-9552-11e8-8beb-0255ac106311"
                creationTimestamp: "2018-08-01 06:20:28.81667161 +0000 UTC"
                updateTimestamp: "2018-08-01 09:23:38.944333282 +0000 UTC"
              spec:
                type: "VirtualMachine"
                flavor: "cce.s1.small"
                version: "v1.7.3-r13"
                description: "new description"
                hostNetwork:
                  vpc: "cbed56e8-03e7-4304-a477-b54bef0857c3"
                  subnet: "5de50062-2be2-4a52-893e-e0906e3e9c9d"
                containerNetwork:
                  mode: "overlay_l2"
                  cidr: "172.16.0.0/16"
                authentication:
                  mode: "x509"
                  authenticatingProxy: {}
                billingMode: 0
              status:
                phase: "Available"
                jobID: "e8ebf96c-956d-11e8-a949-0255ac10575d"
                endpoints:
                  - url: "https://192.168.0.16:5443"
                    type: "Internal"
          schema:
            $ref: "#/definitions/Cluster"
      deprecated: false
      x-name: "Deleting a Cluster"
      x-constraint: ""
      x-scope: "Commercial"
      x-order: 5
      x-publishpath: "cce_02_0241"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "false"
      x-is-registered: "Y"
  /api/v3/projects/{project_id}/clusters/{cluster_id}/operation/resize:
    post:
      tags:
        - Cluster Management
      summary: Modifying Cluster Specifications
      description: |-
        This API is used to modify the specifications of a cluster. 
        
        > - The URL for cluster management is in the format of **https://Endpoint/uri**, in which *uri* indicates the resource path, that is, the path for API access. 
        > [- For details about constraints, see [Changing Cluster Scale] (https://support.huaweicloud.com/en-us/usermanual-cce/cce_10_0403.html).](tag:hws) 
        > [- For details about constraints, see [Changing Cluster Scale](https://support.huaweicloud.com/intl/en-us/usermanual-cce/cce_10_0403.html).](tag:hws_hk)
      operationId: ResizeCluster
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/param_path_projectid'
        - $ref: '#/parameters/param_path_clusterid'
        - $ref: '#/parameters/param_header_content_type'
        - $ref: '#/parameters/param_header_x_auth_token'
        - $ref: '#/parameters/param_query_error_status'
        - name: ResizeClusterRequestBody
          in: body
          description: Struct for modifying cluster specifications
          required: true
          schema:
            $ref: '#/definitions/ResizeClusterRequestBody'
          x-order: 200
      responses:
        '201':
          description: The job for modifying the specifications of the pay-per-use cluster is delivered.
          examples:
            application/json:
              jobID: 13b8d958-8fcf-11ed-aef3-0255ac1001bd
          schema:
            $ref: '#/definitions/ResizeClusterResponseBody'
      deprecated: false
      x-name: Modifying the Specifications of a Specified Cluster
      x-order: 13
      x-constraint: ''
      x-scope: Commercial
      x-request-examples-description-1: Modifying the specifications of the yearly/monthly cluster (automatic payment)
      x-request-examples-url-1: 'POST /api/v3/projects/{project_id}/clusters/{cluster_id}/operation/resize'
      x-request-examples-1:
        flavorResize: cce.s1.medium
        extendParam:
          isAutoPay: "true"
      x-request-examples-description-2: Modifying the specifications of the pay-per-use cluster
[...]
